
body{
    
}

p{
    text-align:justify;
    
}
.divmargen{
    margin: 5%;
}
.capçalera{
    background-color: rgb(245, 201, 201);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
   
    
}
.section1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 300px;
    margin-right:300px
}
.capçalera2{
    background-image: url(/Pagina_de_receptes/Imatges/croquetas.png);
    background-size:  cover;
    background-repeat: no-repeat;
    justify-content: left;
    height: 600px;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    font-weight: normal;
    
}   

.capçalera3 {
    border-radius: 5px;
    font-size: smaller;
}
.navcapçalera {
    margin-left: 5%;
    display: flex;
}

.capçalera3{
    padding: 1%;
    
}
.capçalera4{
    border: solid;color: brown; border-radius: 30px;
    width: 11%;
    text-align: center;
}

.article1{
    display: flex;
    justify-content: center;
    text-align: justify;
    
    

}

.divarticle{
  
}
