.capçalera{
    background-color: rgb(245, 201, 201);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.capçalera2{
    background-image: url(/Imatges/croquetas.png);
    background-size:  cover;
    background-repeat: no-repeat;
    justify-content: left;
    height: 600px;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    font-weight: normal;
}   

.capçalera3 {
    border-radius: 5px;
    font-size: smaller;
}
.navcapçalera {

    display: flex;
}

.acapçalera3{
    padding: 1%;
}

.article1{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

